body {
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}

#div1, #div2, #div3 {
    display: inline-block;
    margin: auto;
    width: 50%;
    color: black;
    border: 3px solid khaki;
    padding: 10px;
    text-align: center;
    background: greenyellow;
    height: 300px;
    cursor: pointer;
}